@model PruebaTecnicaDB.ApplicationWeb.UsuarioService.UsuarioDto

@{
    ViewBag.Title = "Registrar Usuario";
}

<br />
<br />
<div class="card">
    <div class="card-header">
        <h6 class="text-center">REGISTRAR USUARIO</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-container">
                <div class="form col-6 ">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group mt-3">
                        Nombre
                        <div class="col-md-10 mt-1">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        Fecha de nacimiento
                        <div class="col-md-10 mt-1">
                            @Html.TextBoxFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "form-control", type = "date", required = "Es requerido", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                            @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <label for="sexo">Sexo</label>
                        <div class="col-md-10 mt-1">
                            <div class="select-wrapper">
                                <select class="form-control" id="sexo" name="Sexo" required>
                                    <option value="">Seleccione</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <a class="btn btn-secondary" href="@Url.Action("Index", "Usuario")">
                            <i class="fa-solid fa-arrow-left-long"></i> Atras
                        </a>
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Registrar</button>
                    </div>
                </div>
                <br />

            </div>

        }
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('form').on('submit', function (event) {
                event.preventDefault();

                if ($(this).valid()) {
                    var form = this;

                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: 'Esta acción registrará el usuario. ¿Deseas continuar?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Sí',
                        cancelButtonText: 'No'
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            Swal.fire({
                                title: 'Éxito',
                                text: 'El usuario se registró correctamente',
                                icon: 'success',
                                confirmButtonText: 'Aceptar'
                            }).then(function () {
                                form.submit();
                            });
                        }
                    });
                }
            });
        });
    </script>
}
